# ===== Keil MDK-ARM 编译产物 =====
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
MDK-ARM/**/*.o
MDK-ARM/**/*.d
MDK-ARM/**/*.crf
MDK-ARM/**/*.lst
MDK-ARM/**/*.lnp
MDK-ARM/**/*.dep
MDK-ARM/**/*.axf
MDK-ARM/**/*.hex
MDK-ARM/**/*.map
MDK-ARM/**/*.htm
MDK-ARM/**/*.log
MDK-ARM/**/*.scvd
MDK-ARM/**/*.dbgconf
MDK-ARM/**/*.lock
MDK-ARM/*.uvguix
MDK-ARM/*.uvguix.*

# ===== 其他 =====
*.bak
*.tmp
*.swp
Thumbs.db
